<footer>
  <div class="row">
  	<div class="large-6 columns">G-Design - document de travail</div>
    <div class="large-6 columns">
      <ul class="inline-list right">
        <li><a href="mailto:info@g-design.net">info@g-design.net</a></li>
      </ul>
    </div>
  </div>
</footer>