	<footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; {{ 'now' | date: "%Y" }} website owner</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">home</a></li>
            <li><a href="#">contact</a></li>
            <li><a href="#">help</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>