<header>
  <div class="contain-to-grid">
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Titre du projet</a></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li><a href="#">UX Design - {{ 'now' | date: "%B %Y" }}</a></li>
        </ul>
      </section>
    </nav>
  </div>

  <div class="hero">
    <div class="row">
      <div class="large-12 columns">
        <h1 class="subheader">Titre du document</h1>
        <h4 class="subheader">Expérience Utilisateur</h2>
      </div>
    </div>
  </div>
</header>