
    <div class="row top-bar-frontend">
      <div class="large-6 columns top-bar-title">
        <a href="/">WEBSITE</a>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">home</a></li>
          <li><a href="#">contact</a></li>
          <li><a href="#">help</a></li>
        </ul>
      </div>
    </div>


    <div class="row main-nav">
        <div class="large-4 columns">
            <div class="panel">
                <h4 class="subheader">SECTION ONE</h4>
            </div>
        </div>
        <div class="large-4 columns">
            <div class="panel">
                <h4 class="subheader">SECTION TWO</h4>
            </div>
        </div>
        <div class="large-4 columns">
            <div class="panel">
                <h4 class="subheader">SECTION THREE</h4>
            </div>
        </div>
    </div>