{% block content %}

    <div class="content row">
        <div class="large-12 columns">

            <p>Ce document détaille le fonctionnement de chaque module, montre un prototype basique de chaque page et mets en  évidence les questions importantes que je me pose. Merci de me faire parvenir vos réponses, remarques et corrections.</p>

            <blockquote><em>Dans ce document on essaie de définir le fonctionnement de la nouvelle section afin d'obtenir une expérience utilisateur ergonomique qui corresponde aux besoins mentionnés.
            <br />
            Le site internet doit permettre aux visiteurs d'atteindre le résultat recherché dans un temps minimal et avec peu d'effort.
            <br />
            On s'intéresse particulièrement à la navigation, à la hiérarchie du site, à la structure de chaque page et à l'efficacité de l'interface.</em></blockquote>
            
            <h2>1. Première section du document</h2>

            <figure><a href="/page"><img src="{{ "page.png" | asset_url }}"></a></figure>

            <h4>Explication</h4>
            {{ 3 | lorem_ipsum:'p' }}

            <h4>Questions</h4>
            <div class="panel">
                <ul>
                    {{ 2 | lorem_ipsum:'li' }}
                </ul>
            </div>

            <p>&nbsp;</p>
            <h4 class="center">Merci de me faire parvenir vos réponses, remarques et corrections.</h4>
            <h4 class="center"><a href="http://g-design.net"><img src="{{ "logo.png" | asset_url }}"></a></h4>

        </div>
    </div>

{% endblock %}
